@media only screen and (min-width: 600px) {
  .headerPhoto {
    margin-left: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 25%;
    width: 250px;
    height: 250px;
  }

  .headerContent {
    flex-direction: line;
  }
}

@media only screen and (max-width: 600px) {
  .headerPhoto {
    margin-right: 15px;
    border-radius: 25%;
    width: 200px;
    height: 200px;
  }

  .headerContent {
    flex-direction: column;
  }

  .headerTexts {
    margin-top: 10px;
  }
}

.header {
  background-color: black;
  color: white;
  padding: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  list-style-type: none;
  flex-direction: column;
}

.header li {
  flex: 1;
  float: left;
}

.headerTitle {
  display: flex;
  text-align: center;
  align-items: center;
}

.headerContent {
  display: flex;
  align-items: center;
}

.headerTexts {
  text-align: left;
}

.headerText h2 {
  margin-bottom: 10px;
}