@media only screen and (min-width: 850px) {
  .project {
    width: 320px;
    min-height: 480px;
  }

  .projectPicture {
    width: 50%;
    height: 50%;
  }
}

@media only screen and (max-width: 850px) {

  .projectList {
    padding: 0;
  }

  .projectPicture {
    width: 30%;
    height: 30%;
  }
}

.project {
  background-color: black;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
}

.projectContentList {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  flex-direction: column;
}

.projectContent {
  flex: 1;
  margin-bottom: 10px;
}

.projectPicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5%;
}

.projectContent hr {
  height: 2px;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  background: rgb(92, 92, 92);
}

.projectContent a {
  text-align: left;
  color: white;
  text-decoration: none;
}

.projectContentText {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.projectContentTextDescription {
  text-overflow: ellipsis;
}

.projectContent h3 {
  display: wrap;
  text-align: center;
  color: white;
  text-decoration: none;
}

.projectContentLinkList {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  align-items: left;
  justify-content: center;
}

.projectContentLink {
  display: block;
  margin-left: auto;
  margin-right: auto;
}