.navbar {
  background-color: black;
}

.navList {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.navList li {
  flex: 1;
}

.navList a {
  display: block;
  text-align: center;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.navList a:hover {
  color: black;
  background-color: #EAEAEA;
}